<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Add Employee</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="/css/main.css" rel="stylesheet">
	<style>
		.topnav {
			overflow: hidden;
			background-color: black;
			color: white;
		}

		.topnav-right {
			float: right;
		}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: #04AA6D;
			color: white;
		}
	</style>
</head>

<body>
	<div class="topnav">
		<div class="topnav-right">
			<h2>Welcome <span th:text="${userNames}"></span> | <a
					onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
			<form id="logoutForm" method="POST" th:action="@{/logout}">
			</form>
		</div>
	</div>
	<div class="container">

		<form method="POST" class="form-signin" th:object="${empForm}" th:action="@{/addEmp}">
			<h2 class="form-signin-heading">Add Employee</h2>
			<div class="form-group">
				<input type="text" th:field="*{firstName}" class="form-control" placeholder="firstName"
					autofocus="true">
				<span class="has-error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
			</div>

			<div class="form-group">
				<input type="text" th:field="*{lastName}" class="form-control" placeholder="lastName">
				<span class="has-error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
			</div>

			<div class="form-group">
				<input type="email" th:field="*{emailId}" class="form-control" placeholder="emailId">
				<span class="has-error" th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}"></span>
			</div>

			<div class="form-group">
				<input type="text" th:field="*{exp}" class="form-control" placeholder="Experience">
				<span class="has-error" th:if="${#fields.hasErrors('exp')}" th:errors="*{exp}"></span>
			</div>
			<input type="hidden" th:field="*{createdBy}" class="form-control">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>

	</div>

	<script src="/js/main.js"></script>
</body>

</html>