<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Log in with your account</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form class="form-signin" method="POST" th:object="${userForm}" th:action="@{/login}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" th:field="*{username}" type="text" class="form-control" placeholder="UserId"
                   autofocus="true"/>

            <input name="password" type="password"  th:field="*{password}" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Sign Up</a></h4>
            <h4 class="text-center"><a href="/reset-password">Forgot Password</a></h4>
        </div>
      </form>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
